.pengunjung{background:url(../images/statistik.png) 0 0;width:16px;height:16px}
.hits{background:url(../images/statistik.png) 0 -16px;width:16px;height:16px}
.bulan{background:url(../images/statistik.png) 0 -32px;width:16px;height:16px}
.hari{background:url(../images/statistik.png) 0 -48px;width:16px;height:16px}
.sekarang{background:url(../images/statistik.png) 0 -64px;width:16px;height:16px}